<% content_for :subtitle do %>
...with a name .com hipsters love!
<% end %>

<h3>All the World's Articles
  <span class="ui">
    <%= link_to image_tag('icon_small_add.png'), new_article_path, :title => 'create a new article' %>
    <%= link_to 'new article', new_article_path, :title => 'create a new article' %>
  </span>
</h3>


<%= will_paginate @articles%>

<table id="articles_list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author name</th>
      <th>Body</th>
      <th>Creation Date</th>
      <th></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td colspan="5">
        <p><%= @articles.size %> out of <%= pluralize(@num_articles, 'article') %>.</p>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%=h article %></td>
        <td><%=h article.author %></td>
        <td><%= truncate(article.body, :length => 20) %></td>
        <td><%= article.created_at.to_s(:datetime) %></td>
        <td>
          <%= link_to image_tag('icon_small_zoom.png'), article, :title => "view article" %>
          <%= link_to image_tag('icon_small_edit.png'), edit_article_path(article), :title => "edit article" %>
          <%= link_to image_tag('icon_small_delete.png'), article, :confirm => 'Are you sure?', :method => :delete, :title => "delete article" %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>

  </tfoot>
</table>

<br />

