<% content_for :subtitle do %>
what's "Articl" in Spanish anyway?
<% end %>

<ul class="menu">
  <li>
    <%= link_to image_tag('icon_small_larrow.png'), articles_path, :title => 'back to list' %>
    <%= link_to 'list all articles', articles_path, :title => 'back to list' %>
  </li>
  <li>
    <%= link_to image_tag('icon_small_edit.png'), edit_article_path(@article), :title => 'edit article' %>
    <%= link_to 'edit', edit_article_path(@article), :title => 'edit article' %>
  </li>
  <li>
    <%= link_to image_tag('icon_small_delete.png'), @article, :confirm => 'Are you sure?', :method => :delete, :title => "delete article" %>
    <%= link_to 'delete', @article, :confirm => 'Are you sure?', :method => :delete, :title => "delete article" %>
  </li>
  <li>
    <%= mail_to '', image_tag('icon_small_email.png'), :subject => @article.title, :body => article_url(@article), :title => 'email article' %>
    <%= mail_to '', 'email', :subject => @article.title, :body => article_url(@article), :title => 'email article' %>
  </li>
</ul>  

<h3><%=h @article.title %></h3>
<p class="byline">by <%=h @article.author %>. <%= pluralize(@article.update_count, 'update') %> since <%= @article.created_at.to_s(:short)%>.</p>
</p>
<div class="article_body">
  <%= simple_format(h(@article.body)) %>
</div>
